fireflow/fireflow-engine/src/main/resources/Fireflow_Process_Resource_Definition.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2008 rel. 2 (http://www.altova.com)-->
<!--the entity declarations may be overridden in the internal subset-->
<!--namespace prefixes-->
<!ENTITY % n1_prefix "n1">
<!--namespace prefix to namespace uri mappings-->
<!ENTITY % n1_prefix.. "%n1_prefix;:">
<!--namespaces attributes for root element-->
<!ENTITY % documentElementAttributes " xmlns:%n1_prefix; CDATA 'http://www.fireflow.org/Fireflow_Resource_Definition_Language'">
<!--the declarations below should not be modified-->
<!--element name mappings-->
<!ENTITY % n1..Resource "%n1_prefix..;Resource">
<!ENTITY % n1..Forms "%n1_prefix..;Forms">
<!ENTITY % n1..Form "%n1_prefix..;Form">
<!ENTITY % n1..uri "%n1_prefix..;uri">
<!ENTITY % n1..Applications "%n1_prefix..;Applications">
<!ENTITY % n1..Application "%n1_prefix..;Application">
<!ENTITY % n1..handler "%n1_prefix..;handler">
<!ENTITY % n1..Participants "%n1_prefix..;Participants">
<!ENTITY % n1..Participant "%n1_prefix..;Participant">
<!ENTITY % n1..AssignmentHandler "%n1_prefix..;AssignmentHandler">
<!ENTITY % n1..Description "%n1_prefix..;Description">
<!--element and attribute declarations-->
<!ELEMENT %n1..Resource; ((%n1..Participants;)?, (%n1..Applications;)?, (%n1..Forms;)?)>
<!ATTLIST %n1..Resource;
	%documentElementAttributes;
>
<!ELEMENT %n1..Forms; ((%n1..Form;)*)>
<!ATTLIST %n1..Forms;
	%documentElementAttributes;
>
<!ELEMENT %n1..Form; ((%n1..Description;)?, %n1..uri;)>
<!ATTLIST %n1..Form;
	Name CDATA #REQUIRED
	DisplayName CDATA #IMPLIED
	%documentElementAttributes;
>
<!ELEMENT %n1..uri; (#PCDATA)>
<!ELEMENT %n1..Applications; ((%n1..Application;)*)>
<!ATTLIST %n1..Applications;
	%documentElementAttributes;
>
<!ELEMENT %n1..Application; ((%n1..Description;)?, %n1..handler;)>
<!ATTLIST %n1..Application;
	Name CDATA #REQUIRED
	DisplayName CDATA #IMPLIED
	%documentElementAttributes;
>
<!ELEMENT %n1..handler; (#PCDATA)>
<!ELEMENT %n1..Participants; ((%n1..Participant;)*)>
<!ATTLIST %n1..Participants;
	%documentElementAttributes;
>
<!ELEMENT %n1..Participant; ((%n1..Description;)?, %n1..AssignmentHandler;)>
<!ATTLIST %n1..Participant;
	Name CDATA #IMPLIED
	DisplayName CDATA #IMPLIED
	%documentElementAttributes;
>
<!ELEMENT %n1..AssignmentHandler; (#PCDATA)>
<!ELEMENT %n1..Description; (#PCDATA)>
<!ATTLIST %n1..Description;
	%documentElementAttributes;
>
